<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BURGUER MIDDLE EARTH</title>
    <link rel="icon" type="img/jpg" href="/img/logo.png"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script:regular" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <router-outlet></router-outlet>
</head>
<body>
    <header class="p-3 mb-3 border-bottom bg-dark">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img src="/img/logo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary text-light">INICIO</a></li>
        <li><a href="#" class="nav-link px-2 link-dark text-light">MENÚ</a></li>
        <li><a href="#" class="nav-link px-2 link-dark text-light">REPORTES GUARDADOS</a></li>
        <li><a href="#" class="nav-link px-2 link-dark text-light">ESTADISTICAS</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">
        </form>
        <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item text-dark" href="#">Actualizar Mis Datos</a></li>
        <li><a class="dropdown-item text-dark" href="#">Configurar Mi Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-dark" href="#">Cerrar sesión</a></li>
        </ul>
        </div>
        </div>
        </div>
    </header>

    <div class="card text-center">
        <div class="card-header">
          ALERTA
        </div>
        <div class="card-body">
          <h5 class="card-title">NOTIFICACIÓN DE COMPRA</h5>
          <div>
            <img src="/img/compra.png" width="200px">
          </div>
          <a href="#" class="btn btn-primary">REVISAR</a>
        </div>
    </div>
    <br>
    <div class="card text-center">
        <div class="card-header">
          ALERTA
        </div>
        <div class="card-body">
          <h5 class="card-title">NOTIFICACIÓN DE CANCELACIÓN</h5>
          <div>
            <img src="/img/cancelar.png" width="200px">
          </div>
          <a href="#" class="btn btn-primary">REVISAR</a>
        </div>
    </div>
    <br>
    <div class="card text-center">
        <div class="card-header">
          OTRAS TAREAS
        </div>
        <div class="card-body">
          <h5 class="card-title">REALIZAR INVENTARIO</h5>
          <div>
            <img src="/img/inventario.png" width="200px">
          </div>
          <a href="#" class="btn btn-primary">ACCEDER</a>
        </div>
    </div>
              
    <div class="container mt-3 bg-dark w-auto">
        <footer class="py-5 text-light">
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2023 Innovations Solution Company, Inc. Reservados todos los derechos.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-tiktok fs-2 text-light"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram fs-2 text-light"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook fs-2 text-light"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-whatsapp fs-2 text-light"></i></a></li>
            </ul>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>